.registration {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  &__box {
    &-form {
      .form__tab {
        animation: show 1s ease alternate;
        &-control {
          display: block;
        }
        @keyframes show {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
