<nb-card>
  <nb-card-header> User Management </nb-card-header>

  <nb-card-body>
    <div class="form-group">
      <label for="search">
        <h3>Search Form</h3>
      </label>
      <input
        #valueSearch
        class="form-control"
        placeholder="Searching..."
        type="text"
        (keydown.enter)="onSearch(valueSearch.value)"
      />
      <a
        href="javascript:void(0)"
        (click)="onSearch(valueSearch.value)"
        style="
          font-size: 18px;
          text-transform: uppercase;
          padding: 10px 20px;
          text-decoration: none;
          box-shadow: 0 6px 5px -5px gainsboro;
          margin-top: 10px;
          color: #222B45;
          font-weight: bold;
        "
        class="btn"
        >Search</a
      >
    </div>
    <div
      *ngIf="validService.isEvent?.invalid && validService.isEvent?.dirty"
      class="alert alert-danger"
    >
      <div *ngIf="validService.isEvent?.errors.required">
        {{ validService?.getField }} is required.
      </div>
      <div *ngIf="validService.isEvent?.errors.minlength">
        {{ validService?.getField }} must be at least 4 characters long.
      </div>
    </div>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (editConfirm)="onEdit($event)"
      (createConfirm)="onAdd($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
